<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rose IT Assignment</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h2>Rose IT Assignment Test</h2>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="col-md-2 col-lg-2 side-menu">
                    <ul class="">
                        <li>@Html.ActionLink("Customer Info", "Index", "Home")</li>
                        <li>@Html.ActionLink("Bonus Rate", "CustomerWiseBonus", "CustomerWiseBonusRate")</li>
                    </ul>
                </div>
                <div class="col-md-10 col-lg-10">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
